/*-- scss:rules --*/

body {
  background: #FAFAFA;
}

#title-block-header {
  display: none;
}

$dark: #14301f;

.navbar {
  background-color: $dark;
  color: white;
  background-image: url("img/header.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;

  a {
    color: white;
  }

  .navbar-container {
    padding-right: 200px;
  }
}

.nav-footer {
  background-color: $dark;
  color: white;
  background-image: url("img/header.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 100%;

  a {
    color: white;
  }

  .nav-footer-left {
    padding-left: 200px;
  }
}

.navbar-title {
  display: none !important;
}

.navbar a.active,
.navbar a:active {
  font-weight: bold
}

.quarto-title h1 {
  font-size: clamp(3.2rem, 5vw, 4.2rem);
}

.quarto-title {
  color: white;
}

.hero-box {
  margin-top: -2rem;
  padding: 60px 50px 90px 30px;
  background-image: url("img/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 75% auto;
  color: white;
}

.hero-btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  padding: 6px 12px;
  color: white;
  background: #C45508;
  border-radius: 2px;
}

.hero-btn-w {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  padding: 6px 12px;
  color: #C45508;
  background: white;
  border-radius: 2px;
}

.partners ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.partners li:hover {
  background-color: $dark;
  color: white;

  a {
    color: white
  }

  cursor: pointer;
}

.partners li {
  background: #eee;
  padding: 20px;
  border: 1px solid #ddd;
  box-sizing: border-box;

  a {
    color: black;
    text-decoration: none;
  }
}


.quarto-figure .quarto-figure {
  margin-bottom: 0.25rem;
}

figcaption {
  color: var(--bs-black);
}

.accordion-item {
  border-color: $primary;
  border-radius: 14px;
  margin-bottom: 1.875rem;
}

.accordion-item:not(:first-of-type) {
  border-top: 1px solid $primary;
}

.accordion-button {
  border-radius: 14px;
  font-size: 1.15rem;
  font-weight: 600;
}

.accordion-body {
  padding-top: 0;
}

.collapse-wrapper {
  @extend .accordion;
  @extend .accordion-item;
}

.collapse-button {
  @extend .accordion-button;
}

.collapse-content {
  @extend .accordion-body;
}

.tab-content {
  background: white;
}